.songs-list {
  padding-bottom: 10em;
}

.song-list-item {
  cursor: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  margin: 1.5em 0;
  padding: .45em .6em;
  border: 0px groove #14B7F4;
  border-radius: 15px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 85, 0.699);
  box-shadow: 0px 0px 20px #4e0000;
}

.song-list-item:hover {
  color: white;
  background-color: rgba(105, 1, 1, 0.699);
  box-shadow: 0px 0px 40px #ffffff;
}

div.autoscroll {
  height: 200px;
  width: 400px;
  overflow: hidden;
  border: 1px solid #444;
  margin: 3em;
}

div.autoscroll:hover {
  /* overflow-y: scroll; */
  overflow-y: scroll;
  padding-right: 10px;
}